@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f1f5f5;
  --foreground: #171717;
  --font-sans: var(--font-oswald);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-oswald);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.paypal-buttons-disabled {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.leaflet-container {
  background: #f1f5f9 !important;
}

.dark .leaflet-container {
  background: #1e293b !important;
}
